// home page 

@import "variables";

html,
body {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a {
        text-decoration: none;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none !important;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    div,
    span, a {
        margin: 0;
        padding: 0;
        overflow: hidden;
        box-sizing: border-box;
    }
}

.row {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#section-1 {
    position: relative;
    float: left;
    width: 100%;

    .subsection-1 {
        position: relative;
        float: left;
        padding: 100px;
    }

    h2 {
        margin: 0 0 6px;
        font: 900 80px $font_1;
        color: #333;

        .style-1 {
            color: $theme_color_1;
        }
    }

    p {
        font: 700 34px $font_1;
        color: #333;

    }

    .text-3 {
        margin: 30px 0 0;
        font: 400 24px $font_1;
    }

    .button {
        float: left;
        width: 150px;
        height: 35px;
        margin: 20px 0;
        padding: 2px 0 0;
        font: 700 18px/30px $font_1;
        text-align: center;
        color: #fff;
        background: $theme_color_1;
        border-radius: 2px;
    }
}

#section-2 {
    position: relative;
    float: left;
    display: table;
    width: 100%;
    height: auto;
    background: $theme_color_2;

    .section-2-cont {
        vertical-align: middle;
        display: table-cell;
        padding: 50px 100px;
    }

    li {
        float: left;
        margin: 0;
        padding: 0;
        width: 25%;
        height: auto;
        text-align: center;

        i {
            padding: 15px;
            font-size: 34px;
            color: #333;
            background: $theme_color_4;
            border-radius: 50%;
        }

        span {
            display: block;
            margin: 15px 0 0;
            font: 700 18px $font_1;
            color: #555;
        }
    }

}